.contenedor {
    border: 5px solid #e1bee7;
    background-color: #ffffff;
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: 150px 150px 150px;
    height: 600px;
    gap: 20px;
    place-content: center;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}