.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: minmax(98px,300px) 200px minmax(120px, 250px);
    grid-template-rows: repeat(3, auto);
    width: 420px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}